<section class="contact-main">
  <div class="container">
      <h1 class="heading-contact text-center">
          Get 
        <span>In Touch</span>
      </h1>

      <div class="row">
        <div class="col-md-6">
          <div class="contact-card">
            <h2>A S Future TRADE INDIA PVT. LTD.</h2>
            <p class="text-center">
                5645/RZ, Office No.484, Karam Nagar, <br>
                mahendercity, Jaipur <br>
                Support Time :	10:00am To 10:00pm 7 Days
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="contact-card">
            <h2>Contact Us</h2>
            <p class="text-center">
                Email ID : info@asfuture.com	 <br>
                Contact No. : +91-8378 44 8378<br>
                Whatsapp No. : +91-7867 11 7867
            </p>
          </div>
        </div>
      </div>
  </div>
</section>

<app-footer></app-footer>